* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Inter', sans-serif;
}

h1 {
	font-weight: 600;
	font-size: 40px;
	color: #1C3C64;
	margin: 80px;
	margin-top: 30px;
	margin-bottom: 20px;
	display: inline-block;
}

/************ navigation ************/

nav {
	margin-top: 53px;
	margin-right: 80px;
	float: right;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
}

nav ul li a {
	text-decoration: none;
	color: #1C3C64;
	font-weight: 400;	
	margin-left: 40px;
}

nav ul li a:hover {
	color: #6283AF;
	font-weight: 600;
}

/*********** welcome ************/

#welcome {
	margin: 150px auto;
	width: 80%;
	height: 55vh;
}

#welcome h2 {
	font-weight: 500;
	font-size: 300%;
	padding-top: 20px;
	color: #EDA933;
}

#welcome h3 {
	font-weight: 600;
	font-size: 25px;
	color: #1C3C64;
}

#welcome p {
	font-weight: 400;
	font-size: 16px;
	line-height: 2em;
	color: #6283AF;
}

#welcome img {
	float: left;
	width: 30%;
}

#welcome #topInfo {
	float: right;
	width: 60%;
}

#arrow {
	cursor: pointer;
}

#welcome i {
	font-size: 30px;
    color: #1C3C64;
}

@keyframes bouncing {
    0% {bottom: 0;}
    50% {bottom: 10px;}
    100% {bottom: 0;}
}

#down {
	animation: bouncing 1s infinite ease-in-out;
    display: block;
    left: 50%;
    margin-left: -25px;
	position: absolute;
	width: 50px;
	padding-bottom: 30px;
}

@keyframes swing {
    15%
    {
        transform: translateX(5px);
    }
    30%
    {
        transform: translateX(-5px);
    }
    50%
    {
        transform: translateX(3px);
    }
    65%
    {
        transform: translateX(-3px);
    }
    80%
    {
        transform: translateX(2px);
    }
    100%
    {
        transform: translateX(0);
    }
}

#welcome img:hover {
	animation: swing 1s ease;
	animation-iteration-count: 1;
}

/************** featured **************/

#featured {
	text-align: center;
	margin: 10px;
}

#featured h1 {
	margin: 0;
}

.feature {
	width: 1000px;
	background: #F1F1F1;
	margin: 80px auto;
	transition: all 0.2s ease-out;
	box-shadow: 0 2px 4px 0 lightgray;
}

.feature:hover {
	box-shadow: 3px 4px 8px 3px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#featureOne, #featureTwo, #featureThree, #featureFour {
	display: inline-block;
	padding: 30px;
	padding-left: 0;
	margin: 20px 0 0 0;
	width: 30%;
}

.feature h2 {
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	font-size: 30px;
	color: #333333;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.feature h3 {
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	font-size: 18px;
	padding: 10px 0px;
	color: lightslategray;
	padding-left: 30px;
}

.feature p {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 2em;
	color: #2e2e38;
	padding-left: 30px;
}

.feature button {
	padding: 10px 10px;
	border-radius: 5px;
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	font-size: 13px;
	margin: 25px 0 0 30px;
	cursor: pointer;
  	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	background-color: transparent;
}

.feature button:hover {
	font-weight: 700;
}

#featureOne button {
	border: #21278a solid 2px;
	color: #21278a;
}

#featureTwo button {
	border: black solid 2px;
	color: black;
}

#featureThree button {
	border: #2e3192 solid 2px;
	color: #2e3192;
}

#featureFour button {
	border: #C5181B solid 2px;
	color: #C5181B;
}

.feature #featureImg1, .feature #featureImg2, .feature #featureImg3, .feature #featureImg4 {
	width: 65%;
	text-align: center;
	float: right;
	margin: 0 auto;
}

.feature #featureImg1 {
	padding: 65px 0;
	background: #21278a;
}

.feature #featureImg2 {
	padding: 19.5px 0;
	background: black;
}

.feature #featureImg3 {
	padding: 52px 0;
	background: #2e3192;
}

.feature #featureImg4 {
	padding: 65px 0;
	background: #C5181B;
}

/************ footer *************/

footer { 
	text-align: center;
	padding: 20px 0 20px 0;
	position: relative;
}

footer p {
	font-weight: 400;
	font-size: 14px;
	line-height: 2em;
	color: #6283AF;
}

/************* contact page **************/

#about {
	margin: 50px auto 50px auto;
	width: 80%;
}

#about img {
	float: left;
	clear: right;
	margin-right: 60px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#about h3 {
	font-weight: 600;
	font-size: 20px;
	padding-bottom: 10px;
	color: #1C3C64;
}

#about p {
	font-weight: 400;
	font-size: 15px;
	color: #2e2e38;
	line-height: 1.5em;
	padding-bottom: 20px;
}

#about i {
	color: #6283AF;
	padding: 5px 2px 5px 2px;
	font-size: 25px;
	margin-right: 10px;
}

#about i:hover {
	color: #21278a
}

/************ all work ************/

#work {
	text-align: center;
	margin: 50px auto;
}

#work p {
	font-weight: 400;
	font-size: 16px;
	line-height: 2em;
	color: #2e2e38;
}

.accordion {
	background-color: #eee;
	font-weight: 800;
	font-size: 18px;
	color: #2e2e38;
	cursor: pointer;
	padding: 18px;
	width: 85%;
	text-align: center;
	border: none;
	outline: none;
	transition: 0.4s;
}

.active, .accordion:hover {
	background-color: #21278a;
	color: white;
}

.panel {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.accordion:after {
	content: '\02795'; /* Unicode character for "plus" sign (+) */
	font-size: 13px;
	color: white;
	float: right;
	margin-left: 5px;
}

.active:after {
	content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/********** Project: Life After Waste *********/

#law {
	margin: 30px auto;
}

#law .imgDiv {
	text-align: center;
	padding: 60px 0;
	background: #21278a;
}

#law h1 {
	color: black;
	font-weight: 600;
}

#law button {
	float: right;
	padding: 10px;
	border: none;
	color: white;
	background: #21278a;
	border-radius: 5px;
	margin-right: 80px;
	margin-top: 40px;
	cursor: pointer;
}

.bar {
	width: 100%;
	height: 30px;
	background: rgb(32, 32, 32);
}

.projectInfo {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: 0 80px;
	border-top: solid black 1px;
}

.projectInfo h3 {
	font-weight: 500;
	color: #333333;
	margin: 20px 0;
}

.projectInfo p {
	color: grey;
	font-size: 14px;
	margin-right: 100px;
}